sudo: false

language: c

compiler:
  - gcc
  - clang

before_script:
        - export LIBPREDICT_INSTALL_PATH="$PWD/libpredict-install"
        - mkdir -p $LIBPREDICT_INSTALL_PATH/lib
        - mkdir -p build

script:
        - cd build; cmake --version
        - cmake -D CMAKE_INSTALL_PREFIX=$LIBPREDICT_INSTALL_PATH ..
        - make
        - make test
        - make install
        - mkdir -p examples
        - cd examples
        - cmake -D CMAKE_C_FLAGS="-I $LIBPREDICT_INSTALL_PATH/include -L $LIBPREDICT_INSTALL_PATH/lib" ../../examples
        - make

notifications:
  irc:
    channels:
      - "irc.oftc.net#libpredict"
    use_notice: true
    skip_join: true

# Commented out because of build failures, see issue#47.
#before_install:
#  - openssl aes-256-cbc -K $encrypted_dee54b1f9803_key -iv $encrypted_dee54b1f9803_iv
#    -in travis/travisci_rsa.enc -out travis/travisci_rsa -d
#  - chmod 0600 travis/travisci_rsa
#  - cp travis/travisci_rsa ~/.ssh/id_rsa

# Disable Doxygen generation to avoid sudo and get on the new,
# container-based infrastructure.
# See http://docs.travis-ci.com/user/migrating-from-legacy/
# In any case, publish-doxygen should be changed to generate
# the URL from the branch so that master doesn't overwrite a
# stable version doc.
#install:
#  - sudo apt-get install --yes doxygen graphviz
#
#after_success:
#  - ./travis/publish-doxygen
