Source: libpredict2
Priority: optional
Maintainer: Norvald H. Ryeng <norvald@ryeng.name>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.1
Section: libs
Homepage: https://la1k.github.com/libpredict/
Vcs-Git: https://github.com/la1k/libpredict.git
Vcs-Browser: https://github.com/la1k/libpredict

Package: libpredict2-dev
Section: libdevel
Architecture: any
Depends: libpredict2 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libpredict2
 Libpredict provides functions to calculate solar, lunar and satellite
 positions from orbit parameters.
 
Package: libpredict2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Satellite orbit prediction library
 Libpredict provides functions to calculate solar, lunar and satellite
 positions from orbit parameters.
